export EDITOR=vim
export VAGRANT_DEFAULT_PROVIDER=virtualbox

export JAVA_HOME="/usr/java/jdk1.8.0_112"
export NVM_DIR="/home/$USER/.nvm"
export GRADLE_HOME="/opt/gradle/gradle-3.4"
export HEROKU_HOME="/usr/local/heroku"

# load nvm
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# your path
export PATH="$PATH:$JAVA_HOME/bin:$GRADLE_HOME/bin:$HEROKU_HOME/bin"
