[user]
  name = Luis Carlin
  email = luiscarlin@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true

[core]
  editor = vim
  eol = lf
  autocrlf = input
  ignorecase = false

[credential]
  helper = cache --timeout 3600

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

